<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

  <head>
<body >
    <div th:fragment="footer" >
        <footer class="bg-light text-center text-lg-start " style="margin-top: 20px">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              Hailvph13128@fpt.edu.vn
              <a class="text-dark" href="https://mdbootstrap.com/">SDT: 039929999</a>
            </div>
            <!-- Copyright -->
          </footer>
    </div>
</body>
    </head>